.content {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  width: 95%;
  margin: auto;
  margin-bottom: 1.5em;
}

section.section {
  font-size: inherit;
  border-radius: 1em;
  box-shadow: 0.2em 0.2em 0.3em #00000065;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 1em;
  background: var(--background-color);
  scroll-margin-top: 10vh;
  position: relative;
  overflow: hidden;
}
section.section.skill {
  background: transparent;
  padding-bottom: 0;
}
.sectionBackground {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(1.5);
  filter: blur(1em);
}

section.section.active > .sectionBackground {
  animation: backgroundScale 1.5s ease forwards;
  -webkit-animation: backgroundScale 1.5s ease forwards;
  -moz-animation: backgroundScale 1.5s ease forwards;
  -o-animation: backgroundScale 1.5s ease forwards;
  -ms-animation: backgroundScale 1.5s ease forwards;
}

@keyframes backgroundScale {
    0% {
        transform: scale(1.5);
        filter: blur(1em);
    }
    100% {
        transform: scale(1);
        filter: blur(0);
    }
}
.sectionBackground::after {
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: #000000b7;
  background: linear-gradient(to right, rgba(1, 1, 76, 0.593), rgba(72, 1, 42, 0.642));
}
.sectionBackground > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media (orientation: landscape) {
  .content {
    width: 100%;
  }
  section.section {
    border-radius: 1em;
    font-size: 0.8em;
    scroll-margin-top: 3vh;
    padding: 1.5em 5em;
  }
}
