.Footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    flex-direction: column;
    opacity: 0.5;
}
.Footer > div:last-child {
    font-size: 0.9em;
}
@media (orientation: landscape) {
    .Footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 0.7em;
        flex-direction: row;
        opacity: 0.5;
    }
    .Footer > div:last-child {
        font-size: inherit;
    }
}